doctype 5
html(lang="en")
	head
		//- for posterity, let it be known that the only reason this is called control.jade
		//- was because room.jade was already taken.
		title ROOM MANAGER
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css")
		mixin time(timestamp)
			- var secs = (new Date - timestamp) / 1000
			if secs > 60 * 60 * 24
				| #{Math.floor(secs / 60 / 60 / 24)} days 
			if secs > 60 * 60
				| #{Math.floor(secs / 60 / 60) % 24} hours 
			if secs > 60
				| #{Math.floor(secs / 60) % 60} minutes 
			| #{Math.floor(secs % 60)} seconds
			| ago
			if secs > 60 * 60
				- var dt = new Date()
				- dt.setTime(timestamp)
				| &nbsp;@#{dt.toString().split(' ')[4]}
		
		mixin duration(millisecs)
			- var secs = millisecs / 1000
			if secs > 60 * 60
				| #{Math.floor(secs / 60 / 60)} hours 
			if secs > 60
				| #{Math.floor(secs / 60) % 60} minutes 
			| #{Math.floor(secs % 60)} seconds
	body
		div.container
			h1 STALKERMODE ROOM CONTROL
			h3= name

			ul.nav.nav-pills
				li
					a(href="/stalkermode") &larr; Stalkermode 
			
			
			if typeof room == 'undefined'
				h1 Nothing here
				h5 404 ROOM NOT EXTANT
				
				hr

				blockquote 
					| These aren't the droids you're looking for. 
					small Obi Wan Kenobi
				
				blockquote
					| He is the second Dirac, only this time, human.
					small Oppenheimer describing Feynman
				
				blockquote
					| There is nothing in the desert, and no man needs nothing
					small Lawrence of Arabia

				blockquote
					| The ship and her entire crew are gone. If you are receiving this transmission, make no attempt to come to its point of origin. There's only death here now and I am leaving it behind. It is New Years Day, the year of our Lord, 2094. My Name is Elizabeth Shaw, last survivor of the Prometheus, and I'm still searching.
					small Final report of the vessel Prometheus, Elizabeth Shaw

				blockquote
					| The future has not been written. There is no fate but what we make for ourselves. I wish I could believe that. 
					small John Connor, Terminator 3

			else
				p
					| Created: 
					mixin time(room.created)
				p
					| Time Active: 
					mixin duration(room.time_spent)
				p
					| Percent Active: #{(100 * room.time_spent / (Date.now() - Math.max(room.created, 1373041223000))).toFixed(3)}%
				
				div.progress
					div.bar(style="width: #{(100 * room.time_spent / (Date.now() - Math.max(room.created, 1373041223000))).toFixed(3)}%")
				
				p
					| Questions Rendered: #{room.seen}

				if room.offsetTime() > room.end_time
					p
						span.label.label-warning Question Inactive
				else
					div.progress
						div.bar(style="width: #{100 * (room.offsetTime() - room.begin_time) / (room.end_time - room.begin_time)}%")

				p
					| Last Active: 
					mixin time(room.last_action)

				p
					| Last Archived: 
					mixin time(room.archived)


				pre= text

				//- p
				//- 	code= JSON.stringify(room.timing, null, ' ')
				//- p
				//- 	code= JSON.stringify(room.cumulative, null, ' ')


				hr
				form(action="/stalkermode/disco_room/#{name.replace(/\//g, '~')}", method="post")
					button.btn(type="submit") Disconnect Room
					| 
					| Disconnect everyone in a room

				br

				form(action="/stalkermode/clear_bans/#{name.replace(/\//g, '~')}", method="post")
					button.btn(type="submit") Clear IP Bans
					| 
					| BEES!!! BEES FOR EVERYBODY!!!

		
				br

				form(action="/stalkermode/anarchy/#{name.replace(/\//g, '~')}", method="post")
					button.btn(type="submit") Terminate Admins
					|  
					| Terminate them with extreme prejudice

				blockquote
					| Anarchy — that I run! / 
					| It's Dr. Horrible's turn... /
					| You people all have to learn / 
					| This world is going to burn...
					small Dr. Horrible, Slipping

		
				br

				form(action="/stalkermode/delete_room/#{name.replace(/\//g, '~')}", method="post")
					button.btn(type="submit") Delete Room
					| 
					| If nothing else works, who do you call? Room busters!

			