doctype 5
html(lang="en")
	head
		title REPORTS
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
	body
		script
			$(".closereport").live('click', function(){
				var bundle = $(this).parents('.bundle');
				var parsed = bundle.data('info');
				console.log(parsed)
				$.post('/stalkermode/reports/remove_report/' + parsed._id, {}, function(data, status){
					console.log(data, status)
					bundle.slideUp('fast', function(){
						$(this).remove()
					})
				})
			});
			$(".changecat").live('click', function(){
				var bundle = $(this).parents('.bundle');
				var parsed = $(this).parents('.bundle').data('info');
				console.log(parsed)
				
				$.post('/stalkermode/reports/change_question/' + parsed.qid, {category: bundle.find('.catefix').val()}, function(data, status){
					console.log(data, status)
					bundle.find('.closereport').click()
				})
			});
			$(".edit").live("click", function(e){
				// $(this).fadeOut();
				var bundle = $(this).parents('.bundle');
				
				var parsed = $(this).parents('.bundle').data('info');
				var input = $("<input type=text>").val(parsed.answer)
					.css('width', bundle.find('.readout .well').width());

				var editor = $("<textarea>").val(parsed.question)
					.addClass('well')
					.css('width', bundle.find('.readout .well').width())
					.css('height', bundle.find('.readout .well').height())
				bundle.find('.readout').after(editor).hide()
				editor.after(input);
				e.preventDefault()
				var remove = $("<button>").addClass("btn").text("Remove Question");
				remove.click(function(){
					$.post('/stalkermode/reports/remove_question/' + parsed.qid, {}, function(data, status){
						console.log(data, status)
						
						$(document.getElementsByName(bundle.attr('name'))).find('.closereport').click()
					})

				})
				$(this).before(remove)

				var submit = $("<button>").addClass("btn pull-right").text("Submit Changes");
				submit.click(function(){
					$.post('/stalkermode/reports/change_question/' + parsed.qid, {question: editor.val(), answer: input.val()}, function(data, status){
						console.log(data, status)
						
						$(document.getElementsByName(bundle.attr('name'))).find('.closereport').click()
					})
				})
				$(this).replaceWith(submit)
			})
			$('body').keydown(function(e){
				if($(document.activeElement).is("textarea, input")) return;
				if(e.keyCode == 75){ //k
					$('.bundle:visible:first .closereport').click()
				}else if(e.keyCode == 74){ //j
					$('.bundle:visible:first .changecat').click()
				}
			})
		div#history.container
			each report in reports
				div.bundle(data-info="#{JSON.stringify(report)}",name="#{report.qid}")
					ul.breadcrumb
						li #{report.category}
						span.divider /
						li #{report.difficulty}
						span.divider /
						li  #{report.tournament}
						span.divider /
						li  #{report.describe}
						span.divider /
						li #{report.comment}
						li.answer.pull-right= report.answer
					div.readout
						div.well= report.question
					if report.fixed_category
						select.catefix(style="margin: 5px")
							each category in categories
								option(value="#{category}", selected=category == report.fixed_category)= category
						button.btn.changecat Change Category (j)

					|  
					button.btn.closereport Close Report (k)
					a.pull-right.edit(href="#") Edit #{report.qid}
					//- span.pull-right= 
					hr
			if reports.length == 0
				h1 NO REPORTS, WOOO!!!!
				

				ul.nav.nav-pills
					li
						a(href="/stalkermode") &larr; Stalkermode 
				
				img(src="http://i.imgur.com/3uJgdag.jpg", alt="boxxy")

				hr

				form(action="/stalkermode/algore", method="post")
					button.btn(type="submit") Reinitialize Resource Counts

				blockquote
					| Almost a century and a half ago, Senator Stephen Douglas told Abraham Lincoln, 
					| who had just defeated him for the presidency, "Partisan feeling must yield to 
					| patriotism. I'm with you, Mr. President, and God bless you." Well, in that same 
					| spirit, I say to President-elect Bush that what remains of partisan rancor must 
					| now be put aside, and may God bless his stewardship of this country. Neither he 
					| nor I anticipated this long and difficult road. Certainly neither of us wanted 
					| it to happen. Yet it came, and now it has ended, resolved, as it must be resolved, 
					| through the honored institutions of our democracy.
					small Al Gore's 2000 Presidential Bid Concession Speech

