doctype 5
html(lang="en")
	head
		title USER INFO
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css")
		mixin time(timestamp)
			- var secs = (new Date - timestamp) / 1000
			if secs > 60 * 60 * 24
				| #{Math.floor(secs / 60 / 60 / 24)} days 
			if secs > 60 * 60
				| #{Math.floor(secs / 60 / 60) % 24} hours 
			if secs > 60
				| #{Math.floor(secs / 60) % 60} minutes 
			| #{Math.floor(secs % 60)} seconds
			| ago
			if secs > 60 * 60
				- var dt = new Date()
				- dt.setTime(timestamp)
				| &nbsp;@#{dt.toString().split(' ')[4]}
		
		mixin duration(millisecs)
			- var secs = millisecs / 1000
			if secs > 60 * 60
				| #{Math.floor(secs / 60 / 60)} hours 
			if secs > 60
				| #{Math.floor(secs / 60) % 60} minutes 
			| #{Math.floor(secs % 60)} seconds
	body
		div.container
			h1 STALKERMODE USER SPECIAL INFO
			if !user

				ul.nav.nav-pills
					li
						a(href="/stalkermode") &larr; Stalkermode 
					li
						a(href="/stalkermode/room/#{room}") #{room} room panel &rarr;

				h4= id
				br

				h1 There is Nothing
				h5 404 USER NOT FOUND
				
				br

				blockquote
					| Nothing is certain but death and taxes
					small Benjamin Franklin

				blockquote
					| The world owes you nothing. It was here first.
					small Mark Twain

				blockquote
					| The only thing necessary for the triumph of evil is for good men to do nothing.
					small Edmund Burke

				blockquote
					| The only true wisdom is in knowing you know nothing.
					small Socrates

				blockquote
					| Nothing is so dangerous to the progress of the human mind than to assume that our views of science are ultimate, that there are no mysteries in nature, that our triumphs are complete and that there are no new worlds to conquer.
					small Sir Humphry Davy



			else
				h2= user.name
				ul.nav.nav-pills
					li
						a(href="/stalkermode") &larr; Stalkermode 
					li
						a(href="/stalkermode/room/#{room.replace(/\//g, '~')}") #{room} room panel &rarr;

				
				h4= id
				br

				each ip in (user._ips || ips)
					p
						| IP Address: <code>#{ip}</code> 
					p
						| Reverse Lookup: 	
						script
							(function(){
								var id = 'l' + Math.random().toString(36).slice(4);
								document.write('<code id="'+id+'">...</code>')
								var xhr = new XMLHttpRequest();
								xhr.open('get', '/stalkermode/ip/#{ip}', true)
								xhr.onload = function(){
									document.getElementById(id).innerHTML = xhr.responseText
								}
								xhr.send(null)
							})()

				p
					| Referrers: <code>#{JSON.stringify(user._referrers)}</code>

				p
					| Created: 
					mixin time(user.created)

				p
					| Last Session: 
					mixin time(user.last_session)
				
				p
					| Last Action: 
					mixin time(user.last_action)
				
				p
					| Time Spent: 
					mixin duration(user.time_spent)

				p
					| User Agent: <code>#{user._ua}</code>

				pre= text

				hr

				form.well(action="/stalkermode/emit/#{room}/#{id}", method="post")
					input(name="action", type="hidden", value="debug")
					textarea(type="text", name="text", style="width:600px; height: 200px")
						| IMPORTANT: READ THIS MESSAGE
						| =====================================
						| Due to a strange bug in socket.io, Protobowl has a very limited capacity for users 
						| of long-polling based connectivity, such as is in the case of users of older browsers 
						| like Internet Explorer 1, 2, 3, 4, 5, 6, 7, 8, and 9 (10 is okay though). Because 
						| here at Protobowl, we believe the Spock maxim holds true: "the needs of the many 
						| outweigh the needs of the few", you have been disconnected to reduce the latency 
						| of the entire protobowl user base, and to serve the needs of the many.
						| 
						| The solution for you is rather simple: get another browser.
					br
					br

					blockquote
						| It's not about the money.  
						button.btn(type="submit") It's about sending a message.
						small The Joker, The Dark Knight

				p
					form(action="/stalkermode/negify/#{room.replace(/\//g, '~')}/#{id}/1", method="post", style="display: inline")
						button.btn(type="submit") One Neg
					| 
					form(action="/stalkermode/negify/#{room.replace(/\//g, '~')}/#{id}/100", method="post" , style="display: inline")
						button.btn(type="submit") One Hundred Negs
					| 
					form(action="/stalkermode/negify/#{room.replace(/\//g, '~')}/#{id}/99999", method="post", style="display: inline")
						button.btn(type="submit") A Couple of Negs
					| 
					| When your score is ashes, you have my permission to die.
				p
					form(action="/stalkermode/cheatify/#{room.replace(/\//g, '~')}/#{id}/1", method="post", style="display: inline")
						button.btn(type="submit") One Question
					| 
					form(action="/stalkermode/cheatify/#{room.replace(/\//g, '~')}/#{id}/100", method="post" , style="display: inline")
						button.btn(type="submit") One Hundred Questions
					| 
					form(action="/stalkermode/cheatify/#{room.replace(/\//g, '~')}/#{id}/99999", method="post", style="display: inline")
						button.btn(type="submit") Quite a few questions
					|  

					| With great power comes great responsibility.

				hr

				form
					a.btn(href="/#{room}?ninja&id=#{user.id}") Schizo Mode
					| 
					| Masquerade as the user by logging in under that user ID
				

				br 
				
				form(action="/stalkermode/exec/create_tribunal/#{room.replace(/\//g, '~')}/#{id}", method="post")
					button.btn(type="submit") Create Tribunal
					| 
					| Preferred system for banning users, allow people in the room to vote to decide upon the innocence of this user

				br

				form(action="/stalkermode/disco/#{room.replace(/\//g, '~')}/#{id}", method="post")
					button.btn(type="submit") Disconnect
					| 
					| Disconnect the user from Protobowl, something like a very short term ban

				br

				form(action="/stalkermode/exec/ban/#{room.replace(/\//g, '~')}/#{id}", method="post")
					button.btn(type="submit") Ban
					| 
					| Wield this Mjölnir, the glorious banhammer with firm and guarded discretion.


				br

				form(action="/stalkermode/unban/#{room.replace(/\//g, '~')}/#{id}", method="post")
					button.btn(type="submit") Unban
					| 
					| Help those you have wronged in the course living

				br

				form(action="/stalkermode/exec/ip_ban/#{room.replace(/\//g, '~')}/#{id}", method="post")
					button.btn(type="submit") IP Ban
					| 
					| Use with EXTRA EXTRA discretion. This could entail banning an entire house, neighborhood, school or institution, and at worst, an entire country.

				br

				form(action="/stalkermode/exec/reset_score/#{room.replace(/\//g, '~')}/#{id}", method="post")
					button.btn(type="submit") Reset Score
					| 
					| Set the user's score to zero

				hr

				form(action="/stalkermode/exec/_apotheify/#{room.replace(/\//g, '~')}/#{id}", method="post")
					button.btn(type="submit") Apotheify
					| 
					| Make into an administrator for the room

				br 
				
				form(action="/stalkermode/exec/cincinnatus/#{room.replace(/\//g, '~')}/#{id}", method="post")
					button.btn(type="submit") Discharge
					| 
					| Unhonorably discharge this user from the managerial staff

				hr

				form.well(action="/stalkermode/emit/#{room.replace(/\//g, '~')}/#{id}", method="post")
					label(for="action") Event Name
					input#action(name="action", type="text", value="redirect", style="width: 100px")
					br
					label(for="text") Message 
					input#text(type="text", name="text", style="width:500px")
					br
					button.btn(type="submit") Emit Signal
