doctype 5
html(lang="en")
	head
		title STALKERMODE
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css")
		script(src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js")
		
	body
		mixin duration(millisecs)
			- var secs = millisecs / 1000
			if secs > 60 * 60
				| #{Math.floor(secs / 60 / 60)}h 
			if secs > 60
				| #{Math.floor(secs / 60) % 60}m 
			| #{Math.floor(secs % 60)}s

		mixin time(timestamp)
			- var secs = (new Date - timestamp) / 1000
			if secs > 60 * 60
				| #{Math.floor(secs / 60 / 60)}h 
			else if secs > 60
				| #{Math.floor(secs / 60) % 60}m 
			else
				| #{Math.floor(secs % 60)}s 
			| ago

		div.container
			h1 STALKERMODE ENGAGED
			h4 USER VIEW

			ul.nav.nav-pills
				li
					a(href="/stalkermode") &larr; Stalkermode 
					
			table.sortable.table.table-striped(style="width: 100%")
				thead
					tr
						th room
						th name
						th score
						th guesses
						th correct
						th negs
						th early
						th seen
						th precision
						th recall
						th f
						th time spent
						th last action
						th ips

				tbody
					each room, room_name in rooms
						each user, id in room.users
							tr
								- var m = user.metrics()
								td
									a(href="/stalkermode/room/#{room_name}")= room_name
								td
									a(href="/stalkermode/user/#{room_name}/#{user.id}")= user.name
								td= user.score()
								td= m.guesses
								td= m.correct
								td= m.interrupts
								td= m.early
								td= m.seen
								td= m.precision.toFixed(3)
								td= m.recall.toFixed(3)
								td= m.f1.toFixed(3)
								td(sorttable_customkey="#{user.time_spent}", title="#{user.time_spent}")
									mixin duration(user.time_spent)
								td(sorttable_customkey="#{user.last_action}")
									mixin time(user.last_action)
								td= user._ips

