doctype 5
html(lang="en")
	head
		title USER INFO
		link(rel="stylesheet", href="/protobowl.css")
	body
		div.container
			h1 STALKERMODE USER SPECIAL INFO
			if !user
				h2 404 USER NOT FOUND
				ul.nav.nav-pills
					li
						a(href="/stalkermode") &larr; Stalkermode 
					li
						a(href="/stalkermode/room/#{room}") #{room} room panel &rarr;

				h4= id


			else
				h2= user.name
				ul.nav.nav-pills
					li
						a(href="/stalkermode") &larr; Stalkermode 
					li
						a(href="/stalkermode/room/#{room}") #{room} room panel &rarr;

				
				h4= id

				pre= text
				form(action="/stalkermode/exec/create_tribunal/#{room}/#{id}", method="post")
					button(type="submit") Create Tribunal
					| Preferred system for banning users, allow people in the room to vote to decide upon the innocence of this user

				br

				form(action="/stalkermode/disco/#{room}/#{id}", method="post")
					button(type="submit") Disconnect
					| Disconnect the user from Protobowl, something like a very short term ban

				br

				form(action="/stalkermode/exec/ban/#{room}/#{id}", method="post")
					button(type="submit") Ban
					| Use with discretion

				br

				form(action="/stalkermode/exec/reset_score/#{room}/#{id}", method="post")
					button(type="submit") Reset Score
					| Set the user's score to zero

				hr

				form(action="/stalkermode/exec/_apotheify/#{room}/#{id}", method="post")
					button(type="submit") Apotheify
					| Make into an administrator for the room

				br 
				
				form(action="/stalkermode/exec/cincinnatus/#{room}/#{id}", method="post")
					button(type="submit") Discharge
					| Unhonorably discharge this user from the managerial staff

				hr

				form(action="/stalkermode/emit/#{room}/#{id}", method="post")
					label(for="action") Event Name
					input#action(name="action", type="text", value="redirect", style="width: 100px")
					br
					label(for="text") Message 
					input#text(type="text", name="text", style="width:500px")
					button(type="submit") Emit
