doctype 5
html(lang="en")
	head
		if offline
			title Offline Protobowl
		else if development
			title Protobowl (dev)
		else
			title Protobowl 

		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(name="apple-mobile-web-app-capable", content="yes")

		link(rel="apple-touch-icon", href="#{static}img/touch-icon.png")

		meta(name="keywords", content="protobowl,quizbowl,application,reader,academic,multiplayer,practice")
		meta(name="description", content="A real time multiplayer quizbowl application")
		meta(http-equiv="X-UA-Compatible", content="IE=Edge")
		meta(name="apple-mobile-web-app-title", content="Protobowl")

		style
			.navbar, .sidebar, .actionbar, #team_modal, .modal-footer, .modal-header { display: none; }
		
		if cache_breaker && !offline
			link(rel='stylesheet', href='#{static}protobowl.css?#{Date.now()}')
		else
			link(rel='stylesheet', href='#{static}protobowl.css')

		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css")

		//if IE 7
			link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome-ie7.css')

	body
		div.navbar.navbar-top
			div.mobile-timer
				div.peg
			div.navbar-inner
				div.container
					a.brand(href="/")
						span.logo
							strong Proto
							| bowl 
						if development
							span.label.label-important ALPHA
							| 
						em.motto.hidden-phone(style="font-size: small")
							if offline
								| doing one thing and doing it without internet
							else if development
								| doing one thing and not necessarily doing it acceptably well quite yet
							else
								| doing one thing and doing it acceptably well
					
					div.mobile-brand
						img(src="#{static}img/icon-transparent.png")
						span.room-name

					div.pull-right
						a.show-sidebar(href="#")
							i.icon-list-alt

						
						div.btn-group
							a.btn.btn-primary.new-room(href="#new") New Room
							button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
								span.caret
							ul.dropdown-menu.pull-right.recent-rooms
								
								li.show-auth
									a(tabindex="-1", href="/private") Private Room
								li
									a(tabindex="-1", href="/bookmarks") Bookmarks
								li.divider
								li
									a(tabindex="-1", href="/lobby") lobby
								li
									a(tabindex="-1", href="/hsquizbowl") hsquizbowl
								li
									a(tabindex="-1", href="/msquizbowl") msquizbowl
								li
									a(tabindex="-1", href="/college") college


					if auth && !offline
						ul.nav.pull-right#userinfo(role="navigation", style="display: none")
							li#signin(style="display:none")
								a(href="#signin")
									i.icon-signin
									| Sign In
							li.dropdown#user(style="display:none")
								a.dropdown-toggle(href="#", role="button", data-toggle="dropdown")
									span.user-name Nobody
									b.caret

								ul.dropdown-menu(role="menu")
									//- li
									//- 	a(href="#") Profile
									//- li
									//- 	a(href="#") Stats
									//- li.divider
									//- li
									//- 	a(href="#") Keybindings
									//- li.divider
									//- li
									//- 	a(href="#") Settings
									li
										a(href="#about", data-toggle="modal") About
									li.divider
									li
										a(href="#logout") 
											i.icon-signout
											| Logout
						//- ul.nav.pull-right#aboutlink
						//- 	li
						//- 		a(href="#", data-toggle="modal", href="#about") About
					else
						ul.nav.pull-right.hidden-phone
							li
								a(href="#", data-toggle="modal", href="#about") About
			
		div.modal.hide.fade#about
			div.modal-header
				button.close(type="button", data-dismiss="modal") ×
				h3 About
			div.modal-body
				p
					| Protobowl is a real time multiplayer quizbowl application launched
					| in late August 2012.
				p				
					| This was conceived some time around May 2012, but real development didn't 
					| start until July. The name is a portmanteau of "prototype" and "quizbowl".
				p 
					| I implore you to contact <a href="mailto:info@protobowl.com">info@protobowl.com</a> with any and all questions, 
					| comments or concerns, preferably those which relate to Protobowl.

				if offline
					p 
						| (though you probably can't email me now if you're actually offline, but that's totally okay because I'll wait until you get back online)
			div.modal-footer
				a.btn.btn-primary(href="#", data-dismiss="modal") Close
		


		div.mobile-actionbar.enabled
			button.btn.chatbtn(title="Shortcut: / key", rel='tooltip', disabled, tabindex=-1)
				i.icon-comment
				| Chat
			| 

			button.btn.btn-danger.buzzbtn(title="Shortcut: space key", rel='tooltip', disabled, tabindex=-1)
				i.icon-bell.icon-white
				| Buzz

			div.aux
				button.btn.btn-info.skipbtn(title="Shortcut: s key", rel='tooltip', disabled, tabindex=-1)
					| Skip
				| 
				button.btn.btn-info.nextbtn(title="Shortcut: j key", rel='tooltip', disabled, style="display:none", tabindex=-1)
					| Next
				| 

				button.btn.btn-warning.pausebtn(title="Shortcut: p key", rel='tooltip', disabled, tabindex=-1) 
					span.pause
						i.icon-pause.visible-phone(style="margin-right:0")
						span.hidden-phone Pause
					span.resume(style="display:none")
						i.icon-play.visible-phone(style="margin-right:0")
						span.hidden-phone Resume
			
		
			
			
		div.container
			div.row
				div.span9.mainview
					div.row.buttonbar(style="margin-bottom: 10px")
						div.span9
							div.form-horizontal
								div.actionbar
									button.btn.chatbtn(title="Shortcut: / key", rel='tooltip', disabled, tabindex=-1)
										i.icon-comment
										| Chat
									| 
									button.btn.btn-info.skipbtn(title="Shortcut: s key", rel='tooltip', disabled, tabindex=-1)
										| Skip
									| 
									button.btn.btn-info.nextbtn(title="Shortcut: j key", rel='tooltip', disabled, style="display:none", tabindex=-1)
										| Next
									| 

									button.btn.btn-warning.pausebtn(title="Shortcut: p key", rel='tooltip', disabled, tabindex=-1) 
										span.pause
											i.icon-pause.visible-phone(style="margin-right:0")
											span.hidden-phone Pause
										span.resume(style="display:none")
											i.icon-play.visible-phone(style="margin-right:0")
											span.hidden-phone Resume
									
								
									
									button.btn.pull-right.btn-danger.buzzbtn(title="Shortcut: space key", rel='tooltip', disabled, tabindex=-1)
										i.icon-bell.icon-white
										| Buzz


								form.expando.chat_form(style="display:none")
									div.input-prepend
										span.add-on.textbar-submit
											i.icon-comment
											| Chat
										input.chat_input(type='text', placeholder='chat message')
								form.expando.guess_form(style="display:none")
									div.input-prepend
										span.add-on.textbar-submit
											i.icon-pencil
											| Guess
										input.guess_input(type='text', placeholder='answer')	
								form.expando.prompt_form(style="display:none")
									div.input-prepend
										span.add-on.textbar-submit
											i.icon-question-sign
											| Prompt
										input.prompt_input(type='text', placeholder='prompt')	


					div#polling(style="display:none")
						div.alert
							button.close(data-dismiss="alert", type="button") &times;
							| <strong>Warning!</strong> Your browser is connecting to the server using a long-polling transport, 
							| which may lead to increased latency. As a result, we've disabled some of the real time functionality for you. 
							span.no-websocket(style="display:none")
								| <strong>Upgrade to a newer browser</strong> like <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a>,
								| <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a>, or 
								| <a href="http://windows.microsoft.com/en-US/internet-explorer/download-ie">Internet Explorer 10</a> to access these features.

					div#history
						div.bundle.active
							div.sticky
							div.annotations

					div#slow.well(style="display: none")
						p
							| It looks like Protobowl is taking a while to connect to the server. 
							| This might not mean anything more than a slow connection, or it could
							| be a sign of several possible issues. You could <a href="#" onclick="offline_startup();return false">enter offline mode</a>
							| which will start Protobowl as if it did not have a connection to the server at all, but that 
							| has the obvious drawback of being offline and only being able to access a limited pool of questions.

						p
							| If you wait a little bit, Protobowl will keep on trying to connect using different
							| transports until it finds something that works.


					div#whale(style="display: none")
						span.pull-left.status 
						form.form-search.pull-right
							input.input-large.search-query(type="text", placeholder="Search")

					div#bookmarks


					noscript
						h4 Please Enable Javascript
						| Protobowl is built to use many modern browser features which rely on the presence of a powerful 
						| Javascript engine. This application uses Javascript and WebSockets to keep the client and the 
						| server synchronized in order to attain a better experience. 

					div#load_error(style="display:none")
						p.well
							| It seems like something unexpected has happened, that is, there might be some error in the 
							| protobowl code that is preventing it from running.
							| You can try reloading this page a few times (at least 3), going to different rooms, and 
							| trying on different browsers.
							| Below you will find the error messages
							| associated with this error. Please contact <a href="mailto:info@protobowl.com">info@protobowl.com</a>
							| with a screenshot of this page, and we'll fix it as soon as possible. 
						
						p
							code#user_agent

						pre#error_log

				div.span3.sidebar
					div.span3.mobile-other-rooms
						a(tabindex="-1", href="/") &larr; Return to Start Page

					if development
						div.span3.thumbnail
							button.btn.btn-small.pull-right.btn-link.show-updater.release-btn(disabled) 
								| Release
							button.btn.btn-small.pull-right.show-updater.recompile-btn(disabled) 
								| Build

							h5(style="margin-top: 3px")
								i.icon-code
								| Development
							


					div.span3.thumbnail.timer-widget
						h5.span3
							span.label.label-warning.pause(style="display:none") Paused
							span.label.label-important.buzz(style="display:none") Buzz
							span.label.label-info.finished(style="display:none") Done
							i.icon-time
							span.expand-timer(style="display:none") Timer
						div.timer.disabled
							span.face 00:00
							span.fraction .0

						div.progress.progress-striped
							div.bar.primary-bar(style="width:0%")
							div.bar.aux-bar.bar-info(style="width:0%")

					div.span3.topic(style="display:none; margin: 0")
						div.span3.thumbnail

					div.span3.leaderboard(style="display:none; margin: 0")
						div.span3.thumbnail
							table.table
								thead
									tr
										th(colspan="2") #
										th Name
										th(style="padding-left: 0") Negs
								tbody
									
					div.span3.singleuser(style="display:none; margin: 0")
						div.span3.thumbnail
							h5
								i.icon-user
								| Single Player 
								span.label.label-important.offline-badge(style="display:none") Offline
							div.stats

					div.span3.foreveralone(style="margin: 0;display:none")
						div.span3.thumbnail
							h5
								i.icon-globe
								| Feeling Lonely?
							div(style="margin: 5px")	
								| Consider joining a public room such as <span class="roomlist"></span>


					div.span3.settings(style="display:none; margin: 0")
						div.span3.thumbnail
							h5
								i.icon-wrench
								| Settings

							div(style="text-align: center; padding-right: 4px; padding-left: 4px; padding-top: 4px")
								div.localsettings
									
									div.expando.relinquish-command(style="display:none")
										div.input-prepend
											span.add-on(style="width:21px", title="Relinquish dominance over this room", rel='tooltip')
												i.icon-eye-close
											button.btn.input.lose-command Relinquish Command

									div.expando.set-name
										div.input-prepend
											span.generate-name.add-on(style="width:21px", title="Public name", rel='tooltip')
												i.icon-user
											input#username(type='text', value='', disabled)
									div.expando.set-team(style="display:none")
										div.input-prepend
											span.add-on(style="width:21px", title="Teams", rel='tooltip')
												i.icon-group
											select.input.teams
												option(value="") Individual
									div.expando.reset-score(style="display:none")
										div.input-prepend
											span.add-on(style="width:21px", title="Reset my score", rel='tooltip')
												i.icon-trash
											button.btn.input Reset My Score 
									
									label.checkbox
										input.movingwindow(type="checkbox")
										| Points earned in last 50 questions
									
									label.checkbox
										input.adhd(type="checkbox")
										| Enable distraction free mode
									
									div.microwave
										label.checkbox
											input.livechat(type="checkbox", checked)
											| Show chat messages while typing
									if webrtc
										label.checkrtc.checkbox(style="display:none")
											input.webrtc(type="checkbox")
											| Enable audio chat with others

									label.checkbox
										input.sounds(type="checkbox")
										| Play sound on successful buzz

									label.checkbox
										input.dorkmode(type="checkbox")
										| Enable dark theme

									div.lockvote(style="display:none;white-space:nowrap;")
										label.checkbox
											input.lock(type="checkbox")
											| Lock settings <span class='electorate'>0/1 votes</span>
											i(style="padding-left: 5px").icon-unlock.status_icon
								hr
								div.globalsettings
									
									div.expando
										div.input-prepend
											span.add-on(style="width:21px", title="Read speed", rel='tooltip')
												i.icon-step-forward
											input.speed(type="range", value="200", min="60", max="600")
									div.expando
										div.input-prepend
											span.add-on(style="width:21px", title="Difficulty/Category", rel='tooltip')
												i.icon-briefcase
											select.padd-on.difficulties(style="width: 60px; border-right: 0")
											select.input.categories(style="border-left: 0")

									div.custom-category(style="display:none")

									label.checkbox
										input.showbonus(type="checkbox")
										| Show bonus questions
									label.checkbox
										input.multibuzz(type="checkbox", checked)
										| Allow players to buzz multiple times
									label.checkbox
										input.allowskip(type="checkbox", checked)
										| Allow players to skip questions
									label.checkbox
										input.allowpause(type="checkbox", checked)
										| Allow players to pause questions
									
									div.request-access
										button.btn.btn-large <i class="icon-cog"></i>&nbsp; Request Access

					div.span3.thumbnail.show-keyboard
						h5 
							i.icon-info-sign
							| Directions
						ul
							li Press <code>space</code> to buzz
							li Press <code>j</code> for next question
							li Press <code>/</code> or <code>enter</code> to chat
							li.hidden-offline Invite other people to this URL for multiplayer
							li This page works offline
					
					
							

					div.span3.thumbnail.show-touch(style="display:none")
						h5 
							i.icon-info-sign
							| Directions
						ul
							li Buttons are fun to press
							li Click on entries in the leaderboard for more stats


					div.span3.thumbnail
						h5 
							i.icon-fire
							| Miscellaneous
						table.table.headless
							tbody
								tr
									th build date
									td#version #{new Date}
								tr.hidden-offline
									th latency
									td#latency ?
								tr.hidden-offline
									th sync offset
									td#sync_offset ? 
								
								tr
									td
										a#disconnect(href="#disconnect", style="display: none") Disconnect
										a#reconnect(href="#reconnect", style="display: none") Reconnect
										a#reload(href="") Reload
									td#cachestatus Not Initialized
		

		div#team_modal.modal.hide.fade(tabindex="-1",role="dialog",aria-hidden="true")
			div.modal-header
				button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
				h3 Create a Team
			div.modal-body
				form.form-horizontal
					div.control-group
						label.control-label(for="team_input") Team Name
						div.controls
							input#team_input(type='text', value='', placeholder='Team Name').extra-large

			div.modal-footer
				a.btn(href="#", data-dismiss="modal") Cancel
				button.btn.btn-primary#make_button Create Team

			
		script(type="text/javascript")
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-34434821-1']);
			_gaq.push(['_trackPageview']);

		script
			setTimeout(function(){
				if(document.getElementById('load_error')){
					document.getElementById('user_agent').innerHTML = navigator.userAgent;
					document.getElementById('load_error').style.display = '';	
				}
			}, 1000)
			window.onerror = function(e){
				if(document.getElementById('load_error')){
					document.getElementById('error_log').innerHTML += e.toString()
				}
			}


		script
			protobowl_html_build = "#{new Date}";
			protobowl_config = !{JSON.stringify(locals)};


		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
		
		script
			if(typeof jQuery == 'undefined') document.write(unescape("%3Cscript%20src%3D%22/jquery.js%22%3E%3C/script%3E"));
		
		if cache_breaker && !offline
			script(src="#{static}app.js?#{Date.now()}")
		else
			script(src="#{static}app.js")

		if auth && !offline
			script(src="https://login.persona.org/include.js")

		if development
			script
				$(".recompile-btn").click(function(){
					updater_socket.send('recompile');
					createAlert('Compiling', 'There is magic being done in the background as this application is going to emerge from its silky cocoon in a few seconds as a beautiful butterfly or something.').insertBefore('.buttonbar')
				});
				$(".release-btn").click(function(){
					updater_socket.send('release');
					createAlert('Compiling', 'COMPILING FOR RELEASE WOOOP.').insertBefore('.buttonbar')
				});

		script(type="text/javascript")
			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

